
<h1><%= t("misc.administration") %></h1>






  <div class="box_container full-width span7">
    
    <%= link_to "", taxonomies_url, :class => " icon-list-alt btn btn-medium btn-edit" %>
   
  </div>
  




