
<div id="<%="#{t[0].class}-#{t[0].id}"%>" class="pull-right span1">

  <%= link_to (raw("")), remove_favourite_path(favourite_id: t[0].id),:method => :delete, :remote => true , :class => "btn btn-medium icon-star btn-success" , :alt => "#{t'global.remove_from_favourites'}", :title => "#{t'global.remove_from_favourites'}"%>
</div>