<h1 class="background-title"> <%= (t"listing.cycles") %></h1>

<% if allow? "cycles", "edit" %>
    <%= link_to (t"title.new_cycle"), new_cycle_path , :class => "btn btn-medium pull-right btn-create-new" %>
<% end %>

<%= render "index_views/index_long",:objects => @cycles %>


<br/>


