
 <% if allow? "Taxonomy", "edit" %>

  <div id="edit-group" style="margin-top:10px;float:left">
    <%= link_to raw("<span class=' icon-wrench'></span>"),administratives_url,:class => "btn btn-medium btn-edit" , :title => t("link.edit")%> 
  
 
    
 </div>
<% end %>
  <div class="clearfix" ></div>