.navegacion {

    li {
        background-color:rgba(255,255,255,0.2) !important;
        color:#333;
        border-radius: 5px 5px 0px 0 ;
        box-shadow: -1px 0 1px #efefef,1px 0 1px #999,0 -1px 2px #fff,0 1px 1px #efefef;
        margin:1px ;
        
    }
    
}
.navbar ul.items {
    margin: auto;
    margin-top:30px;
}
#user-nav {
    width: 111px !important;
    margin-bottom:5px;
    height: 0;
    div {
        margin:0 !important;
    }
    a {
    width:20px;
    }
}

.centered h1:first-child {
    color: rgba(0,0,0,0.1);
    font-weight: 900;
    position: absolute;
    top: 10%;
    font-size: 100px;
    z-index: -1;
    font-family: ubuntu, georgia;
}
.language-selector {
    background-color: #efefef;
    padding: 5px;
    border-radius: 5px;
    
     a:hover {
	background-color: rgba(0,0,0,0.3);
	
    }
}

.language-selector {
    float:right;
    margin-top:3px;
    li {
	float:left;
	text-decoration: none;
	list-style: none;
    }
    li a {
	padding:3px;
	border-radius:3px;
    }

    li {
	
	padding-left: 5px;
	padding-right: 5px;
    }

}
.btn-create-new {
    position:relative;
    z-index: 45;
    right:15px;
}