// Place all the styles related to the taxonom iescontroller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.action-buttons {
    display:inline;
    
    
}
.buttons-block {
    display: inline;
}

.term-deleted {
    text-decoration:line-through;
}