<%  if var.terms.count != 0   %>
<div class="terms-list">
<em class="field-title"><%= t"global.terms" %>:</em>
  <ul class= "terms">
    
  <% var.terms.each {|x| concat "<li>#{x.name}</li>".html_safe}%>
   <div class= "clearfix"></div>
  </ul>
 
</div>
<% end %>